h5py==2.10.0
imageio==2.9.0
matplotlib==3.1.2
nibabel==3.2.1
nilearn==0.7.1
nipype==1.6.0
numpy==1.19.5
opencv-contrib-python-headless==4.5.3.56
pandas==1.2.3
SimpleITK==1.2.4
simplejson==3.16.0
sklearn==0.0
tensorboard==2.4.1
tensorflow-estimator==2.4.0
tifffile==2021.3.17
torch==1.10.1
torchmetrics==0.6.2
torchsummary==1.5.1
torchvision==0.11.2
tqdm==4.59.0
segmentation-models-pytorch
torchio
scikit-image
seaborn

